{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="container">
        <h2>All Posts</h2>
        <div id="compose-view" class="card">
            <div class="card-body">
                <h4>New Post</h4>
                <form method="POST" id="compose-form">
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" value="Post" class="btn btn-primary"/>
                </form>
            </div>
        </div>

        <div id="post-view">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'post' post_id=post.id %}">
                        <p class="card-text">{{ post.author }}</p>
                    </a>
                        <p class="card-text">{{ post.text }}</p>
                        <p class="card-text">Post created on: {{ post.created_on }}</p>
                        <p class="card-text">Last update: {{ post.updated_on }}</p>
                        <p class="card-text">
                            <button id="button-{{ post.id }}" class="button-like button" type="button">
                                {% if request.user in post.likes.all %}
                                <i id="like-{{ post.id }}" class="fas fa-heart"></i>
                                {% else %}
                                <i id="like-{{ post.id }}" class="far fa-heart"></i>
                                {% endif %}
                            </button>
                            <span>Likes: </span> <span id="nblikes-{{ post.id }}">{{ post.number_of_likes }}</span>
                        </p>
                        <p class="card-text text-muted">Comment</p>
                    
                </div>
            </div>
        {% endfor %}
        </div>
    </div> 
{% endblock %}