{% extends "network/layout.html" %} {% load static %} {% block body %}

<div class="card">
  <div class="card-body">
    <p class="card-text">{{ post.id }}</p>
    <p class="card-text">{{ post.text }}</p>
    <p class="card-text">{{ post.updated_on }}</p>
    <p class="card-text">
      <button
        id="button-{{ post.id }}"
        class="button-like button"
        type="button"
      >
        {% if request.user in post.likes.all %}
        <i id="like-{{ post.id }}" class="fas fa-heart"></i>
        {% else %}
        <i id="like-{{ post.id }}" class="far fa-heart"></i>
        {% endif %}
      </button>
      <span>Likes: </span>
      <span id="nblikes-{{ post.id }}">{{ post.number_of_likes }}</span>
    </p>
    <p class="card-text text-muted">Comment</p>
  </div>
</div>
{% endblock %}
